/* ChatPage.css */

.chat-page-container {
    display: flex;
    width: 1550px;
    margin-left: 220px;
    height: 100vh;
}

/* Adjust the width of the Messages container as needed */
.messages-container {
    width: 40%;
    /* Add other styles as needed */
}

.ProfileCardsContainer {
    width: 20%;
    /*align-items: right;
    align-content: right;
    display: flex;
    justify-content: center;
    float: right;
    flex-shrink: 0;
    /* Add other styles as needed */
}

/* Adjust the width of the Sidebar as needed */
.sidebar-container {
    width: 20%;
    /* Add other styles as needed */
}
