.messages-container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  border: '3px solid red';
  align-items: center;
  justify-content: center;
  align-items: center;
}

.messages {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.message {
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 4px;
}

.right {
  align-self: flex-end;
  background-color: #e2f7cb;
  /* Light color for current user's messages */
}

.left {
  align-self: flex-start;
  background-color: #d2d2d2;
  /* Light color for other user's messages */
}

.input-container {
  display: flex;
  align-items: center;
  gap: 8px;
}
