.messages-container {
  height: 85%;
  display: flex;
  flex-direction: column; /* Change to column to stack messages and input-container */
  position: fixed; /* Position fixed to be relative to the viewport */
  left: 12%; /* Adjust this if your navbar width changes */
  width: 88%; /* Adjust this value to fill the rest of the space beside the navbar */
  justify-content: flex-end; /* This will put the input-container at the bottom */
}


.sidebar {
  height: 100vh;
  width: 20%; /* Make it slimmer */
  background-color: #f7f7f7; /* Neutral color */
  color: #000;
  border-right: 1px solid #ddd; /* Add a border */
}

.chat-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  height: calc(100vh - 50px); /* Adjust height for header/footer */
}

.chat-list-item {
  padding: 10px;
  cursor: pointer;
}

.chat-list-item:hover {
  background-color: #ebebeb;
}

.messages {
  flex: 1; /* Allows messages to fill the available space above the input-container */
  overflow-y: auto; /* Makes sure the messages are scrollable */
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 10px; /* Adjust padding as necessary */
}


.message {
  max-width: 60%;
  padding: 10px;
  border-radius: 18px;
  position: relative;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 10px;
}

.right, .message.sent {
  align-self: flex-end;
  background-color: #0084ff; /* Messenger Blue */
  color: white;
}

.left, .message.received {
  align-self: flex-start;
  background-color: #f0f0f0; /* Light grey */
  color: black;
}

.input-container {
  height : 10%; 
  display: flex;
  align-items: bottom;
  gap: 8px;
  padding: 10px;
  background-color: #f0f0f0; /* Light grey background */
}

.text-field {
  width: 100%;
  height: 100%;
}

.message-input {
  height: 10%;
  width: 85%;
  flex-grow: 1; /* Make input grow to fill space */
  padding: 10px;
  border: 1px solid #ddd; /* Slightly defined border */
  border-radius: 18px;
  margin: 0; /* Remove margin to fit better in the container */
  outline: none;
}

.send-button {
  background-color: #0084ff; /* Messenger Blue */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 18px;
  cursor: pointer;
}

.send-button:hover {
  background-color: #005ecb;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
